{% extends "base-pdf.html.twig" %}

{% block title %}Liste des données de {{app.user.matricule}} {% endblock %}
{% block body %}
    
    <h1>MINISTERE DE L'EDUCATION NATIONALE ET DE L'ALPHABETISATION</h1>

    <h2>DIRECTION DES RESSOURCES HUMAINES</h2> 
    
    <h3>Fiche de renseignement des agents contractuels</h3>

    <div class="grix xs8 container">
     
<div class="col-xs1">Nom :</div>
<div class="col-xs3">{{ app.user.nom }}</div>
<div class="col-xs1">Prénom :</div>
<div class="col-xs3">{{ app.user.prenom }}</div>
<div class="col-xs1">Email :</div>
<div class="col-xs3">{{ app.user.email }}</div>
<div class="col-xs1">Date de Naissance :</div>
<div class="col-xs3">{{ app.user.dateNaissance | date('d/m/y') }}</div>
<div class="col-xs1">lieu de Naissance :</div>
<div class="col-xs3">{{ app.user.lieuNaisssance }}</div>
<div class="col-xs1">Genre :</div>
<div class="col-xs3">{{ app.user.genre }}</div>
<div class="col-xs1">Situation Matrimoniale :</div>
<div class="col-xs3">{{ app.user.situationMatrimoniale }}</div>
<div class="col-xs1">Nom du Père:</div>
<div class="col-xs3">{{ app.user.nomPere }}</div>
<div class="col-xs1">Prénom du père:</div>
<div class="col-xs3">{{ app.user.prenomPere }}</div>
<div class="col-xs1">Nom de la mère:</div>
<div class="col-xs3">{{ app.user.nomMere }}</div>
<div class="col-xs1">Prénom de la mère:</div>
<div class="col-xs3">{{ app.user.prenomMere }}</div>
<div class="col-xs1">Emploi:</div>
<div class="col-xs3">{{ app.user.emploi }}</div>
<div class="col-xs1">Discipline:</div>
<div class="col-xs3">{{ app.user.discipline }}</div>
<div class="col-xs1">DRENA:</div>
<div class="col-xs3">{{ app.user.drena }}</div>
<div class="col-xs1">Structure:</div>
<div class="col-xs3">{{ app.user.structure }}</div>
<div class="col-xs1">Contact:</div>
<div class="col-xs3">{{ app.user.contact }}</div>


     </div>
    
</h2>  


{% endblock %}