{% extends 'users.html.twig' %}

{% block title %}Bienvenue {{ app.user.nom }}  {% endblock %}

{% block body %}
	<div class="grix xs4 container">

        {% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
		
        <div class="col-xs4">
    <h1>Vous êtes connecté avec l'identifiant {{ app.user.matricule }} </h1>
</div>
<div class="col-xs1">Nom :</div>
<div class="col-xs3">{{ app.user.nom }}</div>
<div class="col-xs1">Prénom :</div>
<div class="col-xs3">{{ app.user.prenom }}</div>
<div class="col-xs1">Email :</div>
<div class="col-xs3">{{ app.user.email }}</div>
<div class="col-xs4">
   
    <a href="{{ path('users')}}" class="btn blue">Modifier le mot de passe</a>
<p>      </p>
    <a href="{{ path('users_imprime')}}" class="btn grey">Voir mes données personnelles </a>
</div>

<div class="col-xs4">
    <h1>Veuillez remplir le formulaire</h1>
</div>
<div>
<a href="{{ path('users_agent') }}" class="btn blue">veuillez remplir le formulaire</a>
</div>

</div>
{% endblock %}